# Force pnpm usage
engine-strict=true

# pnpm configuration
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*

# Disable npm and yarn
save-exact=false
